body {
  padding: 2rem;
  height: 100vh;

  font-family: $font-main;
}
.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userSpace {
  background-color: lightblue;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.isFriend {
  background-color: lightpink;
}

.name {
  font-size: 40px;
}

.js-saveData {
  width: 150px;
  height: 40px;
  background-color: lightblue;
}
.js-loadData {
  width: 150px;
  height: 40px;
  background-color: lightblue;
}

.js-log {
  width: 150px;
  height: 40px;
  background-color: lightblue;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
